Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [9]:
lst = [2,3,4,5,6,7]
lst.append("mango")
lst.extend(['banana','grapes','orange'])
lst.insert(4, 'apple')
lst.pop()
print(lst)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [11]:
L = [1,2,3,4,5,6,7]
s = L[1:4]
print(s)

[2, 3, 4]

Q3. Reverse the order of given string 

L = [4,5,6,8,3] Without using reverse() function.

In [12]:
# Method 1st
L = [4,5,6,8,3]
r = L[::-1]
print(r)

[3, 8, 6, 5, 4]

In [13]:
# Method 2nd
L.reverse()
print(L)

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list 

L=[2,4,7,3,6,8]

In [15]:
# Method 1st
L = [2,4,7,3,6,8]

[x**2 for x in L]

[4, 16, 49, 9, 36, 64]

In [16]:
# Method 2nd

L = [2, 4, 7, 3, 6, 8]   # create a list L
squared_L = [x**2 for x in L]   # use list comprehension to square the elements of L

print(squared_L)       # print the squared list

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [17]:
# Method 1st
def sum_tuple(t):
    return sum(t)

my_tuple = (3,5,7,9)
print(sum_tuple(my_tuple))

24

In [18]:
# Method 2nd
def sum_tuple(t):
    """
    Takes a tuple of integers and returns the sum of its elements.
    """
    return sum(t)

# Test the function with a tuple of integers
my_tuple = (3, 5, 7, 9)
print(sum_tuple(my_tuple))

24

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [20]:
# Method 1st
set1 = {'apple', 'banana', 'orange'}
set2 = {'mango', 'pineapple','kiwi'}

c = set1.union(set2)
print(c)

{'orange', 'apple', 'pineapple', 'kiwi', 'banana', 'mango'}

In [21]:
# Method 2nd with comment:
# Create two sets of favorite fruits
set1 = {"apple", "banana", "orange"}
set2 = {"mango", "pineapple", "kiwi"}

# Combine the two sets into a single set using the union() method
combined_set = set1.union(set2)

# Print the resulting set
print(combined_set)

{'orange', 'apple', 'pineapple', 'kiwi', 'banana', 'mango'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [22]:
my_set = {"apple", "banana", "orange"}

my_set.add("pineapple")
print(my_set)

{'pineapple', 'orange', 'apple', 'banana'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [24]:
my_animals = {'Dog','Lion','bear','elephant'}
my_animals.remove('bear')
print(my_animals)

{'Lion', 'elephant', 'Dog'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [26]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

books_pairs = list(zip(favorite_books, favorite_movies))
print(books_pairs)

[('Pride and Prejudice', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [28]:
my_list = [4, 7, 9, 11, 14, 18]

diff_list = [j - i for i, j in zip(my_list[:-1], my_list[1:])]

print(diff_list)

[3, 2, 2, 3, 4]

In [29]:
def consecutive_difference(lst):
    diff_lst = []
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i] - lst[i+1]))
    return diff_lst

# Example usage
my_list = [3, 5, 2, 8, 1]
diff_list = consecutive_difference(my_list)
print(diff_list)

#note:The consecutive_difference() function takes a list as input and returns a list of differences between consecutive numbers

[2, 3, 6, 7]

Example usage

my_list = [5, 9, 12, 18, 22]

diffs = find_diff_consecutive_numbers(my_list)

print(diffs) # Output: [4, 3, 6, 4]

Solutions

# Exercise 6
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)
print(combined_fruits)

# Exercise 7
words = {"hello", "world", "python"}
words.add("programming")
print(words)

# Exercise 8
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("cat")
print(animals)

# Solution 9
book_movie_pairs = list(zip(favorite_books, favorite_movies))
print(book_movie_pairs)

# Solutions 10
def find_diff_consecutive_numbers(lst):
diffs = []
for i in range(1, len(lst)):
diff = lst[i] - lst[i-1]
diffs.append(diff)
return diffs